@use "../../../sass/mixin";
@use "../../../sass/variables";

.card_container {
  color: variables.$primary-color;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: transparent;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #00000055;

    z-index: -1;
  }
}

.card_content {
  width: min(758px, 100%);
  height: 436px;
  border-radius: 10px;
  background-color: variables.$pure-white;
  position: absolute;

  top: 35.3004292%;
  left: 23.1944444%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;

  padding-top: 70px;

  h2 {
    text-align: center;
    @include mixin.heading2;
  }

  .button_grid {
    padding-top: 28px;
    display: flex;
    gap: 20px;
  }
}

.confirmation_message {
  input {
    width: 476px;
    text-align: center;
  }
}

.delet_message{
 @include mixin.bodyS;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 10px;

 span{
  font-weight: bold;
 }
}

.card_form_description {
  color: variables.$primary-color;
  border: none;
  background: none;
  outline: none;

  @include mixin.bodyS;
}

.buttonY,
.buttonN {
  width: 256px;
  height: 77px;
  @include mixin.bodyL;
  border-radius: 10px;

  
}

.buttonY {
  color: #2d2d2d;
  border: 1px solid #000;

  &:hover{
   background-color: #00000011;
   border: 1px solid #aaa;

  }

  &:active{
   background-color: #747474;
   color: white;
  }
}

.buttonN {
  color: #fff;
  background-color: variables.$secondary-color;

  &:hover {
    background-color: #0c70f2aa;
  }
  &:active {
    background-color: #0c20ff;
  }
}


.formField-and-confirmation{
 display: flex;
 flex-direction: column;
 row-gap: 57px;
}