@use "./sass/variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;

  background-color: variables.$primary-color;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
 cursor: pointer;
  background: none;
  border: none;
  outline: none;

  svg:hover {
    transform: scale(1.5);
  }
  &:active svg {
    color: variables.$secondary-color !important;

  }
}
